<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>0801정원</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum+Gothic&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/basket-aside.css">
    <link rel="stylesheet" href="assets/css/Bold-BS4-Responsive-Pricing-Table-Snippet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="assets/css/style-jw.css">
    <link rel="stylesheet" href="assets/css/vote-aside.css">
    <link rel="stylesheet" href="assets/css/vote.css">
    <link rel="stylesheet" href="assets/css/yogiyo.css">
</head>

<body>
    <nav class="navbar navbar-light bg-white text-center d-xxl-flex align-items-start justify-content-xxl-center sidebar accordion p-0" id="basket-aside">
        <div class="container-fluid d-flex flex-column p-0">
            <div id="bujang-logo-wrap"><img data-bss-hover-animate="pulse" id="bujang-logo-blue" class="no-drag" src="assets/img/bujang-logo%20blue.png" href="header+aside+footer.html"></div>
            <div id="comment-box"><span class="d-inline-block" id="eat-what">오늘 점심 뭐 먹지?</span><span class="d-inline-block" id="prefer-data"><span class="d-inline-block emphasize-blue">막냉이</span><span class="d-inline-block">님은 패스트푸드를 좋아하시니까!</span></span></div>
            <div id="basket-aside-login-area"><span class="d-inline-block" id="login-jebal">로그인을 하면 취향에 맞는 식당을 추천해드려요</span><span class="d-inline-block" id="basket-login-btn">로그인하기</span>
                <div id="basket-login-controll"><span class="d-inline-block" id="basket-join-link">회원가입</span><span class="d-inline-block" id="basket-findpw-link">비밀번호 찾기</span></div>
            </div>
            <div id="basket-aside-content" class="full-box">
                <div class="text-start d-flex basket-aside-title" id="basket-title-group"><span class="d-inline-block">나의 그룹</span></div>
                <div class="d-flex" id="basket-groups">
                    <div class="basket-group no-drag basket-selected-group"><span>개발1팀</span><i class="fas fa-user-circle"></i></div>
                    <div class="basket-group no-drag"><span>동기모임</span><i class="fas fa-user-circle"></i></div>
                    <div class="basket-group no-drag"><span>정필1팀</span><i class="fas fa-user-circle"></i></div>
                    <div class="basket-group no-drag basket-group-add"><span>그룹추가</span><i class="fas fa-user-plus"></i></div>
                </div>
                <div class="text-start d-flex basket-aside-title" id="basket-title-lunch-candidates"><span class="d-inline-block">오늘의 점심 후보</span></div>
                <div class="table-responsive" id="basket-table">
                    <table class="table">
                        <thead>
                            <tr></tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="basket-table-button-area" colspan="2"><i class="fas fa-filter" id="basket-filter-btn"></i><button class="btn btn-primary d-inline-block" id="basket-another-stores-btn" type="button">다른 가게 추천 받기</button></td>
                            </tr>
                            <tr>
                                <td id="basket-no-items" colspan="2">점심 후보를 추가해주세요</td>
                            </tr>
                            <tr>
                                <td class="d-xxl-flex justify-content-xxl-start basket-table-cell">
                                    <div class="basket-table-store-info"><span class="text-start basket-table-store-name">써브웨이 서울대점</span><span class="text-start basket-table-store-detail">샌드위치 / 251m</span></div>
                                </td>
                                <td class="basket-table-del-cell"><i class="fas fa-minus-circle d-xxl-flex basket-del-btn"></i></td>
                            </tr>
                            <tr>
                                <td class="d-xxl-flex justify-content-xxl-start basket-table-cell">
                                    <div class="basket-table-store-info"><span class="text-start basket-table-store-name">맥도날드 신림점</span><span class="text-start basket-table-store-detail">햄버거 / 320m</span></div>
                                </td>
                                <td class="basket-table-del-cell"><i class="fas fa-minus-circle d-xxl-flex basket-del-btn"></i></td>
                            </tr>
                            <tr>
                                <td class="d-xxl-flex justify-content-xxl-start basket-table-cell">
                                    <div class="basket-table-store-info"><span class="text-start basket-table-store-name">양자강</span><span class="text-start basket-table-store-detail">중국요리 / 520m</span></div>
                                </td>
                                <td class="basket-table-del-cell"><i class="fas fa-minus-circle d-xxl-flex basket-del-btn"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="basket-button-area"><button class="btn btn-primary" id="basket-vote-btn" type="button">투표하기</button><button class="btn btn-primary" id="basket-random-btn" type="button">랜덤선택</button></div>
            </div>
        </div>
    </nav>
    <div class="modal fade row-cols-md-6 md" role="dialog" tabindex="-1" id="modal-recFilter">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-primary modal-header-custom"><span>필터를 선택해주세요&nbsp;<i class="fas fa-check"></i></span><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center text-dark" style="font-size: 14px;">
                    <div></div>
                    <div class="row">
                        <div class="col" style="border-right: 1px solid voar(--bs-gray-200);">
                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">뷔페</label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-2"><label class="form-check-label" for="formCheck-6">아시아음식</label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-3"><label class="form-check-label" for="formCheck-5">양식</label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-4"><label class="form-check-label" for="formCheck-4">일식</label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-5"><label class="form-check-label" for="formCheck-3">한식</label></div>
                        </div>
                        <div class="col" style="border-right: 1px solid voar(--bs-gray-200);">
                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-7"><label class="form-check-label" for="formCheck-7">패스트푸드</label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-8"><label class="form-check-label" for="formCheck-8">패밀리레스토랑</label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-9"><label class="form-check-label" for="formCheck-9">치킨</label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-10"><label class="form-check-label" for="formCheck-10">분식</label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-11"><label class="form-check-label" for="formCheck-11">중식</label></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer modal-footer-custom"><button class="btn btn-primary" type="button">저장</button><button class="btn btn-light" type="button" data-bs-dismiss="modal">취소</button></div>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>